# Start

In [1]:
import numpy as np
import pandas as pd

In [2]:
#df = pd.read_excel('G:\\29 Data Analytics\\Commercial research projects\\MS\\ESG and performance\\Datastream data - KPIs and ESG.xlsx', sheet_name = 'Sheet2', skiprows = [0,1,2])
df = pd.read_excel('F:\\Research\\CommercialPrivate\\International\\KF Reports\\Active Capital\\AC21\\Corporate ESG\\Datastream data - Time series - GICS.xlsx', sheet_name = 'Sheet2', skiprows = [0,1,2])

#F:\Research\CommercialPrivate\International\KF Reports\Active Capital\AC21\Corporate ESG

In [3]:
df.head()

,Name,Code,2001,2002,2003,2004,2005,2006,2007,2008,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,ADLER REAL ESTATE (XET) - PRICE TO BOOK VAL,D:ADLX(PTBV),NaN,NaN,3.56,3.85,1.09,2.03,0.94,0.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADLER REAL ESTATE (XET) - TOT RETURN IND,D:ADLX(RI),NaN,NaN,150.00,85.00,85.00,572.05,332.55,164.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADLER REAL ESTATE (XET) - RETURN ON ASSETS,D:ADLX(WC08326),-0.09,-13.65,-40.72,-1.41,17.62,28.69,19.41,-8.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADLER REAL ESTATE (XET) - RETURN ON EQUITY - T...,D:ADLX(WC08301),-4.9,-106.46,-495.76,-62.33,95.93,50.47,23.70,-12.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADLER REAL ESTATE (XET) - OPERATING PROFIT MARGIN,D:ADLX(WC08316),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Work with columns

In [4]:
# remove Unnamed columns
df = df.loc[:,~ df.columns.str.contains('Unnamed', na=False)]

In [5]:
# convert column names to string
df.columns = df.columns.astype(str)

In [6]:
df.head(15)

,Name,Code,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ADLER REAL ESTATE (XET) - PRICE TO BOOK VAL,D:ADLX(PTBV),NaN,NaN,3.56,3.85,1.09,2.03,0.94,0.53,...,0.59,0.54,0.79,0.94,0.75,0.79,0.81,0.57,0.63,0.55
1,ADLER REAL ESTATE (XET) - TOT RETURN IND,D:ADLX(RI),NaN,NaN,150.00,85.00,85.00,572.05,332.55,164.75,...,167.34,358.33,1098.33,2242.43,2027.34,2261.12,2426.40,2008.55,2297.89,1991.73
2,ADLER REAL ESTATE (XET) - RETURN ON ASSETS,D:ADLX(WC08326),-0.09,-13.65,-40.72,-1.41,17.62,28.69,19.41,-8.31,...,1.56,16.98,15.19,6.15,6.13,5.24,7.72,3.88,-3.08,NaN
3,ADLER REAL ESTATE (XET) - RETURN ON EQUITY - T...,D:ADLX(WC08301),-4.9,-106.46,-495.76,-62.33,95.93,50.47,23.70,-12.83,...,1.62,78.57,60.05,14.27,15.48,14.05,24.39,17.90,-23.16,NaN
4,ADLER REAL ESTATE (XET) - OPERATING PROFIT MARGIN,D:ADLX(WC08316),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-13.64,3.27,-6.95,-7.81,2.97,5.54,43.01,NaN
5,ADLER REAL ESTATE (XET) - TOTAL ASSETS,D:ADLX(WC02999),155969,101178.00,51507.00,34260.00,21982.00,37048.00,44477.00,41280.00,...,42883.00,460336.00,1415476.00,3075781.00,3430069.00,3778967.00,5854096.00,10679722.00,6291750.00,NaN
6,ADLER REAL ESTATE (XET) - TOTAL DEBT % TOTAL A...,D:ADLX(WC08236),6.71,9.82,28.34,59.75,51.81,12.15,11.84,15.13,...,21.68,11.22,71.89,69.64,66.94,65.48,63.87,44.35,57.61,NaN
7,ADLER REAL ESTATE (XET) - EBIT & DEPRECIATION,D:ADLX(WC18198),2950,-19200.00,-30203.00,-373.00,4458.00,9174.00,7566.00,-3555.00,...,1332.00,68351.00,172815.00,175829.00,298456.00,251924.00,601875.00,469810.00,409987.00,NaN
8,ADLER REAL ESTATE (XET) - NET SALES OR REVENUES,D:ADLX(WC01001),12028,69399.00,43170.00,132.00,1515.00,2628.00,5415.00,9174.00,...,5719.00,19235.00,140703.00,384793.00,412812.00,303242.00,424663.00,904185.00,1191194.00,NaN
9,ADLER REAL ESTATE (XET) - PRETAX MARGIN,D:ADLX(WC08321),6.45,-33.13,-75.35,-1275.00,288.65,326.79,127.98,-46.47,...,16.58,327.61,94.35,24.64,45.41,52.25,107.09,39.48,23.21,NaN
10,ADLER REAL ESTATE (XET) - NET MARGIN,D:ADLX(WC08366),-13.09,-30.22,-76.75,-1212.12,267.72,325.61,136.77,-45.75,...,7.41,201.52,77.62,18.74,29.30,41.80,62.53,26.36,-29.55,NaN
11,ADLER REAL ESTATE (XET) - MARKET CAPITALIZATION,D:ADLX(WC08001),49000,27500.00,8000.00,6800.00,20000.00,59250.00,21900.00,9000.00,...,18873.00,65331.00,237003.00,655588.00,691208.00,746030.00,891615.00,944663.00,954616.00,NaN
12,ADLER REAL ESTATE (XET) - TOTAL LIABILITIES,D:ADLX(WC03351),126572,91178.00,48140.00,32493.00,15726.00,9394.00,9769.00,10672.00,...,16434.00,373391.00,1104265.00,2297860.00,2515847.00,2741467.00,4274465.00,7131865.00,4232816.00,NaN
13,ADLER REAL ESTATE (XET) - COMMON SHAREHOLDERS'...,D:ADLX(WC03501),29397,10000.00,3367.00,1767.00,6256.00,27654.00,34831.00,30608.00,...,26331.00,72335.00,291401.00,719358.00,843174.00,960576.00,1217426.00,1445865.00,1593171.00,NaN
14,FRP HOLDINGS - PRICE TO BOOK VAL,@FRPH(PTBV),0.79,0.93,1.13,0.97,1.58,1.65,2.23,1.78,...,1.28,1.49,1.72,1.69,1.65,1.77,1.76,1.29,1.06,1.44

In [7]:
#list(df)

# Working with rows

In [8]:
len(df)

8624

In [9]:
# remove rows where error
df = df[~df['2001'].astype(str).str.contains("ER:")]
#df[2001].str.contains("$$ER:")

In [10]:
len(df)

8570

In [11]:
df.dtypes

Name     object
Code     object
2001     object
2002    float64
2003    float64
2004    float64
2005    float64
2006    float64
2007    float64
2008    float64
2009    float64
2010    float64
2011    float64
2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
2019    float64
2020    float64
2021    float64
dtype: object

In [12]:
df.describe()

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count,3.961000e+03,4.283000e+03,4.566000e+03,4.887000e+03,5.223000e+03,5.515000e+03,5.722000e+03,5.983000e+03,6.294000e+03,6.644000e+03,7.011000e+03,7.276000e+03,7.639000e+03,7.966000e+03,8.189000e+03,8.302000e+03,8.439000e+03,8.496000e+03,8.491000e+03,2.072000e+03
mean,1.157902e+07,1.152066e+07,1.506534e+07,1.636071e+07,2.005389e+07,2.509077e+07,2.958443e+07,3.460959e+07,4.902412e+07,5.301676e+07,6.871889e+07,8.256169e+07,9.795422e+07,1.143647e+08,1.289834e+08,1.572928e+08,1.873358e+08,2.310868e+08,2.286698e+08,4.494398e+07
std,1.251154e+08,1.202832e+08,1.640836e+08,1.761804e+08,2.224310e+08,2.981513e+08,3.558513e+08,4.525474e+08,7.686610e+08,8.880150e+08,1.274172e+09,1.535562e+09,1.819211e+09,2.487411e+09,3.018206e+09,3.935557e+09,5.244670e+09,6.991677e+09,6.976500e+09,3.824472e+08
min,-8.426180e+08,-5.751620e+08,-4.713430e+08,-1.099508e+06,-1.587800e+07,-6.607610e+05,-5.202543e+06,-4.878498e+06,-7.003500e+07,-5.821600e+07,-2.589170e+05,-1.433284e+06,-1.362051e+06,-4.815658e+06,-6.066074e+06,-5.155782e+06,-1.153383e+07,-5.058700e+07,-5.669391e+09,-1.033200e+07
25%,8.890000e+00,9.905000e+00,1.081500e+01,1.347000e+01,1.498500e+01,1.471000e+01,7.252500e+00,5.380000e+00,9.885000e+00,1.061000e+01,1.062000e+01,1.091500e+01,1.268000e+01,1.259500e+01,1.268000e+01,1.273250e+01,1.297500e+01,1.157750e+01,6.245000e+00,1.945000e+00
50%,6.641000e+01,7.330000e+01,8.937500e+01,1.318700e+02,1.503100e+02,1.434900e+02,6.971500e+01,6.358000e+01,8.955000e+01,8.738000e+01,9.058000e+01,9.068000e+01,1.008400e+02,1.112200e+02,1.136300e+02,1.196050e+02,1.169100e+02,1.051850e+02,7.451000e+01,7.385500e+01
75%,3.755630e+05,4.333370e+05,5.066908e+05,5.936490e+05,7.507410e+05,8.939075e+05,7.533512e+05,7.907475e+05,8.781828e+05,8.931190e+05,9.336780e+05,1.050518e+06,1.165086e+06,1.232596e+06,1.313167e+06,1.450146e+06,1.491700e+06,1.632189e+06,1.564672e+06,2.224862e+03
max,3.034579e+09,3.006420e+09,5.508317e+09,6.191583e+09,8.373612e+09,1.193848e+10,1.384169e+10,1.689416e+10,3.631865e+10,3.889455e+10,5.603696e+10,7.573002e+10,9.042872e+10,1.453245e+11,1.801222e+11,2.134541e+11,2.913078e+11,4.030953e+11,4.209579e+11,7.715384e+09

In [13]:
#df[df['Name'].str.contains('SUSP.',case=True)]

## Splitting the company and indicator

In [14]:
# splitting Name
df[['Company Name','Indicator']] = df['Name'].str.split(' - ',expand=True, n=1)

In [15]:
#df[df['Company Name'].str.contains('SUSP',case=True)]

In [16]:
# splitting Code
df[['Company Code','Indicator Code']] = df['Code'].str.split('(',expand=True, n=1)

In [17]:
# delete original columns
del df['Name']
del df['Code']

In [18]:
df['Indicator Code'].unique()

array(['PTBV)', 'RI)', 'WC08326)', 'WC08301)', 'WC08316)', 'WC02999)',
       'WC08236)', 'WC18198)', 'WC01001)', 'WC08321)', 'WC08366)',
       'WC08001)', 'WC03351)', 'WC03501)'], dtype=object)

In [19]:
# fix Code names
df['Indicator Code'] = df['Indicator Code'].str.replace(')', '')

<ipython-input-19-a585d5de50ab>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Indicator Code'] = df['Indicator Code'].str.replace(')', '')

In [20]:
df['Indicator Code'].unique()

array(['PTBV', 'RI', 'WC08326', 'WC08301', 'WC08316', 'WC02999',
       'WC08236', 'WC18198', 'WC01001', 'WC08321', 'WC08366', 'WC08001',
       'WC03351', 'WC03501'], dtype=object)

In [21]:
#df[df['Indicator'].str.contains('SUSP',case=True)]

In [22]:
# some of the variable names contain unnecessary additions like, SUSPENDED or DELISTED
# I want to delete these, they are at the beginning of the string
# I want to take X characters from the right side of the string
# X is the total length of string minus the length of unnecessary characters
# X is slice_pos
df['slice_pos']= df['Indicator'].astype(str).map(len)-len('SUSP.01/07/19 - ')
df['slice_pos2']= df['Indicator'].astype(str).map(len)-len('DELIST.30/07/21 - ')

In [23]:
#df[df['Indicator'].str.contains('SUSP.',case=True)]

In [24]:
# now do the "taking from the right", for strings containing extra characters
df['Indicator'] = np.where(df['Indicator'].str.contains('SUSP.',case=True), df.apply(lambda r: r['Indicator'][-r['slice_pos']:], axis=1)
                      ,df['Indicator'])
df['Indicator'] = np.where(df['Indicator'].str.contains('DELIST.',case=True), df.apply(lambda r: r['Indicator'][-r['slice_pos2']:], axis=1)
                      ,df['Indicator'])

In [25]:
# remove SUSP from company name
df['Company Name'] = df['Company Name'].str.replace(' SUSP', '')

In [26]:
# remove slice position vars
del df['slice_pos']
del df['slice_pos2']

In [27]:
# check
import sys
np.set_printoptions(threshold=sys.maxsize)
df['Indicator'].unique()

array(['PRICE TO BOOK VAL', 'TOT RETURN IND', 'RETURN ON ASSETS',
       'RETURN ON EQUITY - TOTAL (%)', 'OPERATING PROFIT MARGIN',
       'TOTAL ASSETS', 'TOTAL DEBT % TOTAL ASSETS', 'EBIT & DEPRECIATION',
       'NET SALES OR REVENUES', 'PRETAX MARGIN', 'NET MARGIN',
       'MARKET CAPITALIZATION', 'TOTAL LIABILITIES',
       "COMMON SHAREHOLDERS' EQUITY"], dtype=object)

In [28]:
df.head()

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2016,2017,2018,2019,2020,2021,Company Name,Indicator,Company Code,Indicator Code
0,NaN,NaN,3.56,3.85,1.09,2.03,0.94,0.53,0.39,0.35,...,0.75,0.79,0.81,0.57,0.63,0.55,ADLER REAL ESTATE (XET),PRICE TO BOOK VAL,D:ADLX,PTBV
1,NaN,NaN,150.00,85.00,85.00,572.05,332.55,164.75,108.31,92.90,...,2027.34,2261.12,2426.40,2008.55,2297.89,1991.73,ADLER REAL ESTATE (XET),TOT RETURN IND,D:ADLX,RI
2,-0.09,-13.65,-40.72,-1.41,17.62,28.69,19.41,-8.31,-7.71,-0.47,...,6.13,5.24,7.72,3.88,-3.08,NaN,ADLER REAL ESTATE (XET),RETURN ON ASSETS,D:ADLX,WC08326
3,-4.9,-106.46,-495.76,-62.33,95.93,50.47,23.70,-12.83,-11.93,-2.97,...,15.48,14.05,24.39,17.90,-23.16,NaN,ADLER REAL ESTATE (XET),RETURN ON EQUITY - TOTAL (%),D:ADLX,WC08301
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-6.95,-7.81,2.97,5.54,43.01,NaN,ADLER REAL ESTATE (XET),OPERATING PROFIT MARGIN,D:ADLX,WC08316

In [29]:
del df['Company Name']

# Reshaping

## Turn years into one column

In [30]:
# reshape - melt
df = pd.melt(df, id_vars=('Indicator', 'Indicator Code',
 'Company Code')
  , var_name="year", value_name="value" )

In [31]:
df.head(20)

                       Indicator Indicator Code Company Code  year   value
0              PRICE TO BOOK VAL           PTBV       D:ADLX  2001     NaN
1                 TOT RETURN IND             RI       D:ADLX  2001     NaN
2               RETURN ON ASSETS        WC08326       D:ADLX  2001   -0.09
3   RETURN ON EQUITY - TOTAL (%)        WC08301       D:ADLX  2001    -4.9
4        OPERATING PROFIT MARGIN        WC08316       D:ADLX  2001     NaN
5                   TOTAL ASSETS        WC02999       D:ADLX  2001  155969
6      TOTAL DEBT % TOTAL ASSETS        WC08236       D:ADLX  2001    6.71
7            EBIT & DEPRECIATION        WC18198       D:ADLX  2001    2950
8          NET SALES OR REVENUES        WC01001       D:ADLX  2001   12028
9                  PRETAX MARGIN        WC08321       D:ADLX  2001    6.45
10                    NET MARGIN        WC08366       D:ADLX  2001  -13.09
11         MARKET CAPITALIZATION        WC08001       D:ADLX  2001   49000
12             TOTAL LIABILITIES        WC03351       D:ADLX  2001  126572
13   COMMON SHAREHOLDERS' EQUITY        WC03501       D:ADLX  2001   29397
14             PRICE TO BOOK VAL           PTBV        @FRPH  2001    0.79
15                TOT RETURN IND             RI        @FRPH  2001  174.39
16              RETURN ON ASSETS        WC08326        @FRPH  2001    3.26
17  RETURN ON EQUITY - TOTAL (%)        WC08301        @FRPH  2001    3.68
18       OPERATING PROFIT MARGIN        WC08316        @FRPH  2001    9.33
19                  TOTAL ASSETS        WC02999        @FRPH  2001  152759

In [32]:
df.dtypes

Indicator         object
Indicator Code    object
Company Code      object
year              object
value             object
dtype: object

In [33]:
# turn value to numeric for pivoting
df['value'] = df['value'].apply(pd.to_numeric)

In [34]:
#pd.set_option('display.max_rows', 7000)
#import sys
#esg = df[df['Indicator']=='ESG Score']
#np.set_printoptions(threshold=sys.maxsize)
#esg['value'].unique()

## Turn indicators into columns

In [35]:
df2 = df.pivot_table(index=['year', 'Company Code'], columns='Indicator', values='value').reset_index()

In [36]:
df2.describe()

Indicator,COMMON SHAREHOLDERS' EQUITY,EBIT & DEPRECIATION,MARKET CAPITALIZATION,NET MARGIN,NET SALES OR REVENUES,OPERATING PROFIT MARGIN,PRETAX MARGIN,PRICE TO BOOK VAL,RETURN ON ASSETS,RETURN ON EQUITY - TOTAL (%),TOT RETURN IND,TOTAL ASSETS,TOTAL DEBT % TOTAL ASSETS,TOTAL LIABILITIES
count,9.530000e+03,8.894000e+03,8.836000e+03,9568.000000,9.605000e+03,9456.000000,9559.000000,9141.000000,9147.000000,9032.000000,9365.000000,9.530000e+03,9517.000000,9.526000e+03
mean,1.254994e+08,3.377422e+07,3.410832e+08,16.928039,1.169415e+08,17.595224,28.011412,2.442545,4.737981,10.539620,3050.226139,4.278239e+08,38.921107,2.663622e+08
std,1.682551e+09,6.333215e+08,6.986063e+09,913.814899,2.492780e+09,310.510098,434.257942,22.306876,15.645786,162.681354,18049.621472,7.826502e+09,20.456936,5.346407e+09
min,-9.899680e+08,-5.669391e+09,1.080000e+02,-79062.500000,-1.277650e+05,-22983.330000,-22983.330000,-347.060000,-706.810000,-7240.000000,1.100000,4.000000e+00,0.000000,-7.342000e+03
25%,4.695815e+05,7.352250e+04,7.476308e+05,6.747500,1.363860e+05,9.725000,7.985000,0.880000,2.730000,3.620000,133.190000,1.212168e+06,26.860000,5.821510e+05
50%,1.652878e+06,2.993350e+05,2.553730e+06,21.065000,5.251980e+05,22.985000,24.740000,1.230000,4.770000,8.340000,310.640000,3.972390e+06,38.950000,2.050948e+06
75%,7.931313e+06,1.531798e+06,1.227543e+07,47.822500,2.792183e+06,40.037500,51.845000,1.960000,7.410000,14.690000,996.340000,2.000975e+07,50.540000,1.038976e+07
max,7.857249e+10,3.402579e+10,3.700476e+11,5276.920000,1.300360e+11,5276.920000,5276.920000,1396.620000,100.980000,12109.600000,646476.300000,4.209579e+11,802.410000,2.851052e+11

In [37]:
df2.head()

Indicator,year,Company Code,COMMON SHAREHOLDERS' EQUITY,EBIT & DEPRECIATION,MARKET CAPITALIZATION,NET MARGIN,NET SALES OR REVENUES,OPERATING PROFIT MARGIN,PRETAX MARGIN,PRICE TO BOOK VAL,RETURN ON ASSETS,RETURN ON EQUITY - TOTAL (%),TOT RETURN IND,TOTAL ASSETS,TOTAL DEBT % TOTAL ASSETS,TOTAL LIABILITIES
0,2001,@CBLAQ,522059.0,362573.0,806933.0,11.19,544375.0,19.84,21.80,1.53,5.88,11.38,287.41,3372851.0,68.66,2419662.0
1,2001,@CMCT,92771.0,17556.0,86954.0,66.58,17174.0,50.38,66.58,1.04,9.13,12.53,224.74,156275.0,36.52,63504.0
2,2001,@DHC,574624.0,43783.0,603996.0,6.62,279012.0,9.45,6.62,1.01,3.19,3.41,105.08,867303.0,29.14,265285.0
3,2001,@EQIX,203521.0,-94960.0,232244.0,-297.12,63414.0,-168.25,-297.12,0.45,-25.42,-65.12,8.76,575054.0,53.29,371533.0
4,2001,@FRPH,73112.0,19371.0,61590.0,2.23,121258.0,9.33,3.72,0.79,3.26,3.68,174.39,152759.0,36.58,79647.0

In [38]:
len(df2)

10242

In [39]:
df2.to_csv("G:\\29 Data Analytics\\Commercial research projects\\MS\\ESG and performance\\Clean data\\Time series - formatted - GICS.csv", index=False)

# ESG data

In [40]:
esg = pd.read_csv('F:\\Research\\CommercialPrivate\\International\\KF Reports\\Active Capital\\AC21\\Corporate ESG\\Eikon request MH\\ESG - all.csv')

c:\users\sleptcom\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (18,51,69,73,108,120,137,144,153,155,164,167,170,203,208,209,218,248,288,297,301,304) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## False/True columns clean-up

In [41]:
#set(esg['Agrochemical 5 % Revenue'].unique()).issubset({'0', 'False'})

In [42]:
# set the company codes and years aside
esg_year_comp = esg.iloc[:,:2]

In [43]:
esg_year_comp.head()

     Company  Year
0  000002.SZ  2009
1  000002.SZ  2010
2  000002.SZ  2011
3  000002.SZ  2012
4  000002.SZ  2013

In [44]:
# the vars are here 
esg_vars = esg.iloc[:,2:]

In [45]:
esg_vars.head()

,Agrochemical 5 % Revenue,Animal Testing,Animal Testing Cosmetics,Animal Testing Reduction,Biodiversity Impact Reduction,"CO2 Equivalent Emissions Direct, Scope 1","CO2 Equivalent Emissions Indirect, Scope 2","CO2 Equivalent Emissions Indirect, Scope 3","CO2 Equivalent Emissions Indirect, Scope 3 To Revenues USD in million",CO2 Equivalent Emissions Total,...,Supermajority Vote Requirement,Sustainability Compensation Incentives,Total Senior Executives Compensation,Total Senior Executives Compensation To Revenues in million,UNPRI Signatory,Unlimited Authorized Capital or Blank Check,Veto Power or Golden share,Voting Cap,Voting Cap Percentage,Written Consent Requirements
0,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,...,NaN,False,77.001,1575.27422764335,False,NaN,False,False,100.0,NaN
1,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,...,NaN,False,91.20816,1798.48616127901,False,False,False,False,100.0,NaN
2,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,...,True,False,111.379,1551.61233458348,False,False,False,False,100.0,NaN
3,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,...,True,False,54.87,532.117901747716,False,False,False,False,100.0,NaN
4,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,...,True,False,NaN,NaN,False,False,NaN,False,100.0,NaN

In [46]:
# for columns that have only True, False, zero and NaN values, replace zeros with NaNs
# convert the rest of the columns to numeric, turning True or False values to NaNs
# the distinctive difference that allows to do the right conversion is that
# the only other non-NaN value that True/False columns have is zero
# the numeric columns are mostly numeric, with a small amount of True/False values
# therefore the if/else condition is about being a subset of {'0', 'False', 'True', np.nan} set
# having "issubset" instead of "==" allows to account for columns with any combination of set elements, e.g {'0', 'False'} or 
# {'0', 'True', np.nan} etc

for column in esg_vars:
    # these are True/False columns
    if set(esg_vars[column].unique()).issubset({'0', 'False', 'True', np.nan})  :
        esg_vars[column] = esg_vars[column].replace("0", np.nan)
    else:
        # These are numeric columns
        esg_vars[column] = esg_vars[column].apply(pd.to_numeric, errors='coerce')

In [47]:
esg_vars.shape

(3743, 339)

In [48]:
# if the column True/False outcome doesn't vary (only True or only False values), drop the column
for column in esg_vars:
    if (set(esg_vars[column].unique()) == {'True', np.nan}) | (set(esg_vars[column].unique()) == {'False', np.nan})  :
        del esg_vars[column]
    else:
        continue

In [49]:
esg_vars.shape

(3743, 327)

In [50]:
# now combine back together
esg = pd.concat([esg_year_comp, esg_vars], axis=1)

In [51]:
esg.head()

,Company,Year,Biodiversity Impact Reduction,"CO2 Equivalent Emissions Direct, Scope 1","CO2 Equivalent Emissions Indirect, Scope 2","CO2 Equivalent Emissions Indirect, Scope 3","CO2 Equivalent Emissions Indirect, Scope 3 To Revenues USD in million",CO2 Equivalent Emissions Total,CO2 Estimation Method,Climate Change Commercial Risks Opportunities,...,Supermajority Vote Requirement,Sustainability Compensation Incentives,Total Senior Executives Compensation,Total Senior Executives Compensation To Revenues in million,UNPRI Signatory,Unlimited Authorized Capital or Blank Check,Veto Power or Golden share,Voting Cap,Voting Cap Percentage,Written Consent Requirements
0,000002.SZ,2009,False,NaN,NaN,NaN,NaN,NaN,NaN,False,...,NaN,False,77.00100,1575.274228,False,NaN,False,False,100.0,NaN
1,000002.SZ,2010,False,NaN,NaN,NaN,NaN,NaN,NaN,False,...,NaN,False,91.20816,1798.486161,False,False,False,False,100.0,NaN
2,000002.SZ,2011,False,NaN,NaN,NaN,NaN,NaN,NaN,False,...,True,False,111.37900,1551.612335,False,False,False,False,100.0,NaN
3,000002.SZ,2012,False,NaN,NaN,NaN,NaN,NaN,NaN,False,...,True,False,54.87000,532.117902,False,False,False,False,100.0,NaN
4,000002.SZ,2013,False,NaN,NaN,NaN,NaN,NaN,NaN,False,...,True,False,NaN,NaN,False,False,NaN,False,100.0,NaN

In [52]:
esg.describe()

,Year,"CO2 Equivalent Emissions Direct, Scope 1","CO2 Equivalent Emissions Indirect, Scope 2","CO2 Equivalent Emissions Indirect, Scope 3","CO2 Equivalent Emissions Indirect, Scope 3 To Revenues USD in million",CO2 Equivalent Emissions Total,CO2 Estimation Method,EMS Certified Percent,Electricity Produced,Electricity Purchased,...,Nomination Committee Involvement,Nomination Committee NonExecutive Members,Non-Executive Board Members,Number of Board Meetings,Poison Pill Adoption Date,Poison Pill Expiration Date,Strictly Independent Board Members,Total Senior Executives Compensation,Total Senior Executives Compensation To Revenues in million,Voting Cap Percentage
count,3743.000000,1.275000e+03,1.338000e+03,7.810000e+02,7.800000e+02,1.587000e+03,0.0,122.000000,3.450000e+02,1.295000e+03,...,459.000000,3045.000000,3678.000000,3255.000000,0.0,0.0,2053.000000,3084.000000,3.082000e+03,3590.000000
mean,2016.007748,1.713986e+05,1.155002e+05,1.813803e+06,2.968444e+03,3.414399e+05,NaN,67.712139,8.339138e+04,1.735231e+06,...,19.613444,91.249123,75.280061,8.694624,NaN,NaN,47.971417,127.521135,1.078989e+05,98.682869
std,3.066725,1.546571e+06,2.418162e+05,2.875721e+07,5.722791e+04,2.361950e+06,NaN,36.414945,3.357415e+05,1.546371e+07,...,18.569337,15.224923,17.070232,5.823581,NaN,NaN,20.336161,1896.669806,4.953345e+06,10.198241
min,2008.000000,5.000000e-01,1.789000e+00,1.000000e-01,4.332156e-05,1.100002e+00,NaN,0.893000,9.400000e-02,4.194000e+01,...,0.000000,27.272727,5.263158,2.000000,NaN,NaN,0.000000,0.000913,9.791311e-02,9.000000
25%,2014.000000,1.214212e+03,6.928000e+03,7.398300e+02,1.201027e+00,1.115500e+04,NaN,30.971500,8.390000e+02,7.983220e+04,...,0.000000,83.333333,66.666667,5.000000,NaN,NaN,33.333333,3.972836,3.767220e+03,100.000000
50%,2017.000000,4.756000e+03,3.290143e+04,9.643000e+03,1.022560e+01,4.812100e+04,NaN,91.500000,4.732000e+03,3.226843e+05,...,20.000000,100.000000,77.777778,7.000000,NaN,NaN,50.000000,10.231378,1.051660e+04,100.000000
75%,2019.000000,1.679000e+04,1.262767e+05,5.821500e+04,7.703830e+01,1.538243e+05,NaN,100.000000,3.186500e+04,9.021315e+05,...,33.333333,100.000000,87.500000,11.000000,NaN,NaN,62.500000,22.934551,2.154203e+04,100.000000
max,2021.000000,1.866800e+07,2.964619e+06,6.542000e+08,1.329911e+06,4.887082e+07,NaN,100.000000,4.985055e+06,3.358747e+08,...,100.000000,100.000000,100.000000,100.000000,NaN,NaN,100.000000,50900.000000,2.750000e+08,100.000000

## Remove Score columns

In [53]:
# remove Score columns
esg = esg.loc[:,~ esg.columns.str.contains('Score', na=False)]

## Add Datastream codes

In [54]:
# file with transaltion from Refititiv to Datastream
lookup = pd.read_excel('F:\\Research\\CommercialPrivate\\International\\KF Reports\\Active Capital\\AC21\\Corporate ESG\\Eikon request MH\\RIC to MNEMONIC.xlsx', sheet_name = 'Sheet2')

In [55]:
lookup.head()

      Code              Company Common Name  Unnamed: 2     Type MNEMONIC
0  ADLG.DE             Adler Real Estate AG         NaN  ADLG.DE   D:ADLX
1  FRPH.OQ                 FRP Holdings Inc         NaN  FRPH.OQ    @FRPH
2  BSES.SI      Bukit Sembawang Estates Ltd         NaN  BSES.SI   T:BUKT
3  CTDM.SI            City Developments Ltd         NaN  CTDM.SI   T:CITY
4    FRT.N  Federal Realty Investment Trust         NaN    FRT.N    U:FRT

In [56]:
# drop unnecessaru columns
lookup.drop(lookup.columns[[1, 2, 3]], axis=1, inplace=True)

In [57]:
lookup.head()

      Code MNEMONIC
0  ADLG.DE   D:ADLX
1  FRPH.OQ    @FRPH
2  BSES.SI   T:BUKT
3  CTDM.SI   T:CITY
4    FRT.N    U:FRT

In [58]:
lookup = lookup.rename(columns={"Code": "Company", "MNEMONIC": "Company Code"})

In [59]:
lookup.head()

   Company Company Code
0  ADLG.DE       D:ADLX
1  FRPH.OQ        @FRPH
2  BSES.SI       T:BUKT
3  CTDM.SI       T:CITY
4    FRT.N        U:FRT

In [60]:
# add the Datastream code column to ESG data
esg = pd.merge(esg, lookup, how="left", on=["Company"])

In [61]:
esg.head()

,Company,Year,Biodiversity Impact Reduction,"CO2 Equivalent Emissions Direct, Scope 1","CO2 Equivalent Emissions Indirect, Scope 2","CO2 Equivalent Emissions Indirect, Scope 3","CO2 Equivalent Emissions Indirect, Scope 3 To Revenues USD in million",CO2 Equivalent Emissions Total,CO2 Estimation Method,Climate Change Commercial Risks Opportunities,...,Sustainability Compensation Incentives,Total Senior Executives Compensation,Total Senior Executives Compensation To Revenues in million,UNPRI Signatory,Unlimited Authorized Capital or Blank Check,Veto Power or Golden share,Voting Cap,Voting Cap Percentage,Written Consent Requirements,Company Code
0,000002.SZ,2009,False,NaN,NaN,NaN,NaN,NaN,NaN,False,...,False,77.00100,1575.274228,False,NaN,False,False,100.0,NaN,CN:VAN
1,000002.SZ,2010,False,NaN,NaN,NaN,NaN,NaN,NaN,False,...,False,91.20816,1798.486161,False,False,False,False,100.0,NaN,CN:VAN
2,000002.SZ,2011,False,NaN,NaN,NaN,NaN,NaN,NaN,False,...,False,111.37900,1551.612335,False,False,False,False,100.0,NaN,CN:VAN
3,000002.SZ,2012,False,NaN,NaN,NaN,NaN,NaN,NaN,False,...,False,54.87000,532.117902,False,False,False,False,100.0,NaN,CN:VAN
4,000002.SZ,2013,False,NaN,NaN,NaN,NaN,NaN,NaN,False,...,False,NaN,NaN,False,False,NaN,False,100.0,NaN,CN:VAN

# Join the company data and ESG data files

In [62]:
# rename to allow the join
df2 = df2.rename(columns={"year": "Year"})

In [63]:
# convert to allow the join
df2['Year'] = df2['Year'].apply(pd.to_numeric)

In [64]:
# combine ESG and company vars
all_ts_data = pd.merge(esg, df2, how="left", on=["Company Code", "Year"])

In [65]:
pd.set_option("display.max_columns", None)
all_ts_data.head()

,Company,Year,Biodiversity Impact Reduction,"CO2 Equivalent Emissions Direct, Scope 1","CO2 Equivalent Emissions Indirect, Scope 2","CO2 Equivalent Emissions Indirect, Scope 3","CO2 Equivalent Emissions Indirect, Scope 3 To Revenues USD in million",CO2 Equivalent Emissions Total,CO2 Estimation Method,Climate Change Commercial Risks Opportunities,EMS Certified Percent,Eco-Design Products,Electricity Produced,Electricity Purchased,Emission Reduction Target Percentage,Emission Reduction Target Year,Emissions Trading,Energy Produced Direct,Energy Purchased Direct,Energy Use Total,Env Supply Chain Partnership Termination,Environment Management Team,Environment Management Training,Environmental Assets Under Mgt,Environmental Expenditures,Environmental Expenditures Investments,Environmental Investments Initiatives,Environmental Materials Sourcing,Environmental Partnerships,Environmental Products,Environmental Project Financing,Environmental Restoration Initiatives,Environmental Supply Chain Management,Environmental Supply Chain Monitoring,Estimated CO2 Equivalents Emission Total,Fresh Water Withdrawal Total,GMO Products,Green Buildings,Hazardous Waste,Hybrid Vehicles,ISO 14000 or EMS,Internal Carbon Pricing,Labeled Wood,Land Environmental Impact Reduction,NOx Emissions,NOx and SOx Emissions Reduction,Noise Reduction,Non-Hazardous Waste,Organic Products Initiatives,Particulate Matter Emissions Reduction,Policy Emissions,Policy Energy Efficiency,Policy Environmental Supply Chain,Policy Sustainable Packaging,Policy Water Efficiency,Product Environmental Responsible Use,Real Estate Sustainability Certifications,Renewable Energy Produced,Renewable Energy Purchased,Renewable Energy Use,Renewable Energy Use Ratio,Renewable/Clean Energy Products,Resource Reduction Policy,Resource Reduction Targets,SOx Emissions,Self-Reported Environmental Fines,Self-Reported Environmental Fines To Revenues in million,Staff Transportation Impact Reduction,Sustainable Building Products,Take-back and Recycling Initiatives,Targets Emissions,Targets Energy Efficiency,Targets Water Efficiency,Total CO2 Equivalent Emissions To Revenues USD in million,Total Energy Use To Revenues USD in million,Total Hazardous Waste To Revenues USD in million,Total Renewable Energy,Total Renewable Energy To Energy Use in million,Total Waste To Revenues USD in million,Toxic Chemicals Reduction,VOC Emissions Reduction,Waste Recycled To Total Waste,Waste Recycled Total,Waste Recycling Ratio,Waste Reduction Initiatives,Waste Total,Water Recycled,Water Technologies,Water Use To Revenues USD in million,Water Withdrawal Total,e-Waste Reduction,Accidents Total,Alcohol,Alcohol Retailing,Animal Well-being_x,Announced Layoffs To Total Employees,Anti-Personnel Landmines_x,Armaments,Average Employee Length of Service,Average Training Hours,Cluster Bombs_x,Contraceptives,Contractor Fatalities,Corporate Responsibility Awards,Crisis Management Systems,Customer Satisfaction,Day Care Services,Diseases of the Developing World,Donations Total,Embryonic Stem Cell Research,Employee Accidents,Employee Engagement Voluntary Work,Employee Fatalities,Employee Health & Safety Training Hours,Employee Lost Working Days,Employee Resource Groups,Employee Satisfaction,Employees Health & Safety OHSAS 18001,Employees Health & Safety Team,Employees With Disabilities,Ethical Trading Initiative ETI,Extractive Industries Transparency Initiative,Firearms_x,Flexible Working Hours,Fundamental Human Rights ILO UN,Gambling,Gender Pay Gap Percentage,HIV-AIDS Program,Health & Safety Policy,Health & Safety Training,Healthy Food or Products,Human Rights Breaches Contractor,Human Rights Contractor,Human Rights Policy,ISO 9000,Improvement Tools Business Ethics,Injuries To Million Hours,Internal Promotion,Involuntary Turnover of Employees,Lobbying Contribution Amount,Lost Days To Total Days,Lost Time Injury Rate Employees,Lost Time Injury Rate Total,Lost Working Days,Management Training,Net Employment Creation,New Women Employees,Number of Employees from CSR reporting,OECD Guidelines for Multinational Enterprises,Obesity Risk,Occupational Diseases,Policy Bribery and Corruption,Policy Business Ethics,Policy Career Development,Policy Child Labor,Policy Community Involvement,Policy Customer Health & Safety,Policy Cyber Security,Policy Data Privacy,Policy Diversity and Opportunity,Policy Employee Health & Safety,Policy Fair Competition,Policy Fair Trade,Policy Forced Labor,Policy Freedom of Association,Policy Human Rights,Policy Responsible Marketing,Policy Skills Training,Policy Supply Chain Health & Safety,Political Contributions,Pork Products_x,Pornography,Product Access Low Price,Product Responsibility Monitoring,Product Sales at Discount to Emerging Markets,Quality Mgt Systems,Retailing Responsibility,Salaries and Wages from CSR reporting,Salary Gap,Six Sigma and Quality Mgt Systems,Supplier ESG training,Supply Chain Health & Safety Improvements,Supply Chain Health & Safety Training,Targets Diversity and Opportunity,Tobacco,Tobacco Retailing,Total Donations To Revenues in million,Total Injury Rate Employees,Total Injury Rate Total,Trade Union Representation,Training Costs Per Employee,Training Costs Total,Training Hours Total,Training and Development Policy,Turnover of Employees,Voluntary Turnover of Employees,Whistleblower Protection,Women Employees,Women Managers,Advance Notice Period Days,Advance Notice for Shareholder Proposals,Animal Well-being_y,Anti Takeover Devices Above Two,Audit Board Committee,Audit Committee Expertise,Audit Committee Independence,Audit Committee Mgt Independence,Audit Committee NonExecutive Members,Auditor Tenure,Average Board Tenure,Board Attendance,Board Background and Skills,Board Functions Policy,"Board Gender Diversity, Percent",Board Individual Re-election,Board Meeting Attendance Average,Board Member Affiliations,Board Member Compensation,Board Member LT Compensation Incentives,Board Member Membership Limits,Board Member Term Duration,Board Size,Board Size More Ten Less Eight,"Board Specific Skills, Percent",Board Structure Policy,Board Structure Type,CEO Board Member,CEO Compensation Link to TSR,CEO-Chairman Separation,CSR Sustainability Committee,CSR Sustainability External Audit,CSR Sustainability External Auditor Name,CSR Sustainability Report Global Activities,CSR Sustainability Reporting,Chairman is ex-CEO,Classified Board Structure,Committee Meetings Attendance Average,Company Cross Shareholding,Compensation Board Committee,Compensation Committee Independence,Compensation Committee Mgt Independence,Compensation Committee NonExecutive Members,Compensation Improvement Tools,Confidential Voting Policy,Corporate Governance Board Committee,Different Voting Right Share,Director Election Majority Requirement,ESG Period Last Update Date,ESG Reporting Scope,Elimination of Cumulative Voting Rights,Executive Compensation LT Objectives,Executive Compensation Policy,Executive Individual Compensation,"Executive Members Gender Diversity, Percent",External Consultants,Fair Price Provision,GRI Report Guidelines,Global Compact Signatory,Golden Parachute,Highest Remuneration Package,Independent Board Members,Integrated Strategy in MD&A,Internal Audit Department Reporting,Limitation of Director Liability,Limitations on Removal of Directors,Limited Shareholder Rights to Call Meetings,Litigation Expenses,Litigation Expenses To Revenues in million,Minimum Number of Shares to Vote,Nomination Board Committee,Nomination Committee Independence,Nomination Committee Involvement,Nomination Committee Mgt Independence,Nomination Committee NonExecutive Members,Non-Executive Board Members,Number of Board Meetings,Poison Pill,Poison Pill Adoption Date,Poison Pill Expiration Date,Policy Board Diversity,Policy Board Experience,Policy Board Independence,Policy Board Size,Policy Equal Voting Right,Policy Executive Compensation ESG Performance,Policy Executive Compensation Performance,Policy Executive Retention,Policy Shareholder Engagement,Pre-emptive Rights,Public Availability Corporate Statutes,SDG 1 No Poverty,SDG 10 Reduced Inequality,SDG 11 Sustainable Cities and Communities,SDG 12 Responsible Consumption and Production,SDG 13 Climate Action,SDG 14 Life Below Water,SDG 15 Life on Land,SDG 16 Peace and Justice Strong Institutions,SDG 17 Partnerships to achieve the Goal,SDG 2 Zero Hunger,SDG 3 Good Health and Well-being,SDG 4 Quality Education,SDG 5 Gender Equality,SDG 6 Clean Water and Sanitation,SDG 7 Affordable and Clean Energy,SDG 8 Decent Work and Economic Growth,"SDG 9 Industry, Innovation and Infrastructure",Shareholder Approval Significant Transactions,Shareholder Rights Policy,Shareholders Approval Stock Compensation Plan,Shareholders Vote on Executive Pay,Staggered Board Structure,Stakeholder Engagement,State Owned Enterprise SOE,Strictly Independent Board Members,Succession Plan,Supermajority Vote Requirement,Sustainability Compensation Incentives,Total Senior Executives Compensation,Total Senior Executives Compensation To Revenues in million,UNPRI Signatory,Unlimited Authorized Capital or Blank Check,Veto Power or Golden share,Voting Cap,Voting Cap Percentage,Written Consent Requirements,Company Code,COMMON SHAREHOLDERS' EQUITY,EBIT & DEPRECIATION,MARKET CAPITALIZATION,NET MARGIN,NET SALES OR REVENUES,OPERATING PROFIT MARGIN,PRETAX MARGIN,PRICE TO BOOK VAL,RETURN ON ASSETS,RETURN ON EQUITY - TOTAL (%),TOT RETURN IND,TOTAL ASSETS,TOTAL DEBT % TOTAL ASSETS,TOTAL LIABILITIES
0,000002.SZ,2009,False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False,False,False,False,NaN,NaN,False,False,True,False,False,False,False,NaN,334274.0,NaN,False,False,NaN,False,NaN,False,False,False,NaN,False,False,NaN,False,False,False,False,False,False,False,False,NaN,NaN,NaN,False,NaN,False,False,False,NaN,NaN,NaN,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,False,False,False,NaN,False,False,NaN,NaN,False,False,NaN,NaN,False,NaN,False,False,47.819939,False,NaN,False,NaN,NaN,NaN,False,NaN,False,False,NaN,False,False,False,False,False,False,NaN,False,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,6.666667,NaN,NaN,False,False,NaN,NaN,NaN,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,False,False,False,False,False,False,False,NaN,NaN,False,False,False,False,False,False,False,978.292717,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,True,True,50.000000,True,100.0,9.0,8.522727,False,True,False,15.0,True,NaN,1.550000,0.237330,NaN,NaN,NaN,20.0,10.0,20.000000,False,NaN,True,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN,True,100.000000,True,100.0,False,NaN,False,True,False,NaN,NaN,False,False,True,False,13.333333,False,NaN,NaN,False,NaN,0.761800,25.000000,True,NaN,NaN,NaN,NaN,NaN,NaN,False,True,100.0,NaN,True,100.0,75.000000,4.0,NaN,NaN,NaN,False,False,False,False,NaN,True,True,True,NaN,True,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,True,True,False,False,False,NaN,NaN,False,NaN,False,77.00100,1575.274228,False,NaN,False,False,100.0,NaN,CN:VAN,37375888.0,9007860.0,118858222.0,11.57,46047893.0,19.20,17.54,3.43,4.65,15.39,17070.42,136761710.0,23.34,91353197.0
1,000002.SZ,2010,False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False,False,False,False,NaN,NaN,False,False,True,False,False,False,False,NaN,408334.0,NaN,False,True,NaN,False,NaN,False,False,False,NaN,False,False,NaN,False,False,False,False,False,False,False,False,NaN,NaN,NaN,False,NaN,False,False,False,NaN,NaN,NaN,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,False,False,False,NaN,False,False,NaN,NaN,False,False,NaN,NaN,False,NaN,False,False,14.419165,False,NaN,False,NaN,NaN,NaN,False,NaN,False,False,NaN,False,False,False,False,False,False,NaN,False,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,29.711626,NaN,NaN,False,False,NaN,NaN,NaN,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,False,False,False,False,False,False,False,NaN,NaN,False,False,False,False,False,False,False,284.323998,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,True,True,33.330000,True,100.0,NaN,8.211538,False,True,False,15.0,True,NaN,1.454545,1.359680,NaN,999.0,3.0,20.0,10.0,27.272727,True,NaN,NaN,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN,True,66.660000,True,100.0,False,NaN,False,False,True,NaN,NaN,False,False,True,False,15.384615,False,NaN,NaN,False,NaN,1.031900,22.727273,True,NaN,NaN,NaN,NaN,NaN,NaN,False,True,100.0,NaN,True,100.0,86.363636,5.0,NaN,NaN,NaN,False,False,True,False,NaN,True,True,True,NaN,True,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,True,True,False,False,False,NaN,NaN,False,NaN,False,91.20816,1798.486161,False,False,False,False,100.0,NaN,CN:VAN,44232677.0,12886250.0,90380628.0,15.25,47763550.0,24.32,24.39,2.18,4.62,17.85,13002.57,214341505.0,22.11,159755305.0
2,000002.SZ,2011,False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False,False,False,False,NaN,NaN,False,False,True,False,False,False,False,NaN,509106.0,NaN,False,True,NaN,False,NaN,False,False,False,NaN,False,False,NaN,False,False,False,False,False,False,False,False,NaN,NaN,NaN,False,NaN,False,False,False,NaN,NaN,NaN,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,False,False,False,NaN,False,False,NaN,NaN,False,False,NaN,NaN,False,NaN,False,False,17.948000,False,NaN,False,NaN,NaN,NaN,False,NaN,False,False,NaN,False,False,False,False,False,False,NaN,False,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,22.323851,NaN,NaN,False,False,NaN,NaN,NaN,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,False,False,False,False,False,False,False,NaN,NaN,False,False,False,False,False,False,False,250.032216,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,10.0,True,False,4.0,True,True,66.670000,True,100.0,NaN,8.230769,False,True,False,10.0,True,NaN,1.409091,0.204955,NaN,999.0,3.0,20.0,10.0,27.272727,True,NaN,True,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN,True,66.670000,True,100.0,False,NaN,False,False,True,NaN,NaN,False,False,True,False,13.333333,False,NaN,NaN,True,NaN,1.186834,27.272727,True,NaN,NaN,True,True,NaN,NaN,False,True,100.0,NaN,True,100.0,81.818182,5.0,NaN,NaN,NaN,False,False,True,False,NaN,True,True,True,NaN,True,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,NaN,NaN,False,True,False,111.37900,1551.612335,False,False,False,False,100.0,NaN,CN:VAN,52967795.0,20227138.0,82134220.0,14.21,67709396.0,28.30,27.83,1.69,4.07,19.80,12193.48,294208055.0,17.13,226375516.0
3,000002.SZ,2012,False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False,False,False,False,NaN,NaN,False,False,True,False,False,False,False,NaN,617484.0,NaN,False,True,NaN,False,NaN,False,False,False,NaN,False,False,NaN,False,False,False,False,False,False,False,False,NaN,NaN,NaN,False,NaN,False,False,False,NaN,NaN,NaN,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,False,False,False,NaN,False,False,NaN,NaN,False,False,NaN,NaN,False,NaN,False,False,35.880178,False,NaN,False,NaN,NaN,NaN,False,NaN,False,False,NaN,False,False,False,False,False,False,NaN,False,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,10.976351,NaN,NaN,False,False,NaN,NaN,NaN,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,False,False,True,False,False,False,False,NaN,NaN,False,False,False,False,False,False,False,347.958539,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,10.0,True,False,4.0,True,True,33.333333,True,100.0,2.0,8.750000,False,True,False,15.0,True,NaN,1.476190,0.125198,NaN,999.0,3.0,20.0,10.0,33.333333,True,NaN,True,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN,True,33.333333,True,100.0,False,NaN,False,False,True,NaN,NaN,False,False,False,False,15.384615,False,NaN,NaN,True,NaN,0.773658,23.809524,NaN,NaN,NaN,True,True,NaN,NaN,False,True,100.0,NaN,True,100.0,85.714286,NaN,NaN,NaN,NaN,False,False,True,True,NaN,False,False,False,NaN,True,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,NaN,NaN,False,True,False,54.87000,532.117902,False,False,False,False,100.0,NaN,CN:VAN,63825554.0,26704977.0,111274998.0,12.96,96859914.0,26.16,25.61,1.48,4.06,21.49,13078.01,375874962.0,19.05,293736767.0
4,000002.SZ,2013,False,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,False,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False,False,False,False,NaN,NaN,False,False,True,False,False,False,False,NaN,761191.0,NaN,False,True,NaN,False,NaN,False,False,False,NaN,False,False,NaN,False,False,False,False,False,False,False,False,NaN,NaN,NaN,False,NaN,False,False,False,NaN,NaN,NaN,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,False,False,False,NaN,False,False,NaN,NaN,False,False,NaN,NaN,False,NaN,False,False,NaN,False,NaN,False,NaN,NaN,NaN,False,NaN,False,False,NaN,False,False,False,False,False,False,NaN,False,False,False,False,False,False,False,False,False,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,False,13.897934,NaN,NaN,False,False,NaN,NaN,NaN,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,False,False,True,False,False,False,False,NaN,NaN,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,10.0,True,False,4.0,True,True,16.666667,True,100.0,3.0,8.884615,False,True,False,15.0,True,NaN,1.818182,NaN,NaN,999.0,3.0,20.0,10.0,36.363636,True,NaN,NaN,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN,True,33.333333,True,100.0,False,NaN,False,False,True,NaN,NaN,False,False,False,False,14.285714,False,NaN,NaN,False,NaN,NaN,18.181818,NaN,NaN,NaN,True,True,NaN,NaN,False,True,100.0,NaN,True,100.0,81.818182,NaN,NaN,NaN,NaN,False,False,True,True,NaN,False,False,False,NaN,True,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,NaN,NaN,False,True,False,NaN,NaN,False,False,NaN,False,100.0,NaN,CN:VAN,76895983.0,25951860.0,88450200.0,11.76,128589319.0,18.71,18.89,1.42,3.82,21.49,15253.36,475680061.0,19.24,370240638.0

In [66]:
all_ts_data.describe()

,Year,"CO2 Equivalent Emissions Direct, Scope 1","CO2 Equivalent Emissions Indirect, Scope 2","CO2 Equivalent Emissions Indirect, Scope 3","CO2 Equivalent Emissions Indirect, Scope 3 To Revenues USD in million",CO2 Equivalent Emissions Total,CO2 Estimation Method,EMS Certified Percent,Electricity Produced,Electricity Purchased,Emission Reduction Target Percentage,Emission Reduction Target Year,Energy Produced Direct,Energy Purchased Direct,Energy Use Total,Environmental Expenditures,Estimated CO2 Equivalents Emission Total,Fresh Water Withdrawal Total,Hazardous Waste,ISO 14000 or EMS,NOx Emissions,Non-Hazardous Waste,Renewable Energy Produced,Renewable Energy Purchased,Renewable Energy Use Ratio,SOx Emissions,Self-Reported Environmental Fines,Self-Reported Environmental Fines To Revenues in million,Total CO2 Equivalent Emissions To Revenues USD in million,Total Energy Use To Revenues USD in million,Total Hazardous Waste To Revenues USD in million,Total Renewable Energy,Total Renewable Energy To Energy Use in million,Total Waste To Revenues USD in million,Waste Recycled To Total Waste,Waste Recycled Total,Waste Recycling Ratio,Waste Total,Water Recycled,Water Use To Revenues USD in million,Water Withdrawal Total,Accidents Total,Announced Layoffs To Total Employees,Average Employee Length of Service,Average Training Hours,Contractor Fatalities,Customer Satisfaction,Donations Total,Employee Accidents,Employee Fatalities,Employee Health & Safety Training Hours,Employee Lost Working Days,Employee Satisfaction,Employees With Disabilities,Gender Pay Gap Percentage,Injuries To Million Hours,Involuntary Turnover of Employees,Lobbying Contribution Amount,Lost Days To Total Days,Lost Time Injury Rate Employees,Lost Time Injury Rate Total,Lost Working Days,Net Employment Creation,New Women Employees,Number of Employees from CSR reporting,Occupational Diseases,Policy Bribery and Corruption,Policy Business Ethics,Political Contributions,Salaries and Wages from CSR reporting,Salary Gap,Total Donations To Revenues in million,Total Injury Rate Employees,Total Injury Rate Total,Trade Union Representation,Training Costs Per Employee,Training Costs Total,Training Hours Total,Turnover of Employees,Voluntary Turnover of Employees,Women Employees,Women Managers,Advance Notice Period Days,Anti Takeover Devices Above Two,Audit Committee Independence,Audit Committee NonExecutive Members,Auditor Tenure,Average Board Tenure,"Board Gender Diversity, Percent",Board Meeting Attendance Average,Board Member Affiliations,Board Member Compensation,Board Member LT Compensation Incentives,Board Member Membership Limits,Board Member Term Duration,Board Size,Board Size More Ten Less Eight,"Board Specific Skills, Percent",Board Structure Type,CSR Sustainability External Auditor Name,Committee Meetings Attendance Average,Compensation Committee Independence,Compensation Committee NonExecutive Members,ESG Period Last Update Date,ESG Reporting Scope,"Executive Members Gender Diversity, Percent",Highest Remuneration Package,Independent Board Members,Litigation Expenses,Litigation Expenses To Revenues in million,Nomination Committee Independence,Nomination Committee Involvement,Nomination Committee NonExecutive Members,Non-Executive Board Members,Number of Board Meetings,Poison Pill Adoption Date,Poison Pill Expiration Date,Strictly Independent Board Members,Total Senior Executives Compensation,Total Senior Executives Compensation To Revenues in million,Voting Cap Percentage,COMMON SHAREHOLDERS' EQUITY,EBIT & DEPRECIATION,MARKET CAPITALIZATION,NET MARGIN,NET SALES OR REVENUES,OPERATING PROFIT MARGIN,PRETAX MARGIN,PRICE TO BOOK VAL,RETURN ON ASSETS,RETURN ON EQUITY - TOTAL (%),TOT RETURN IND,TOTAL ASSETS,TOTAL DEBT % TOTAL ASSETS,TOTAL LIABILITIES
count,3743.000000,1.275000e+03,1.338000e+03,7.810000e+02,7.800000e+02,1.587000e+03,0.0,122.000000,3.450000e+02,1.295000e+03,414.000000,465.000000,3.590000e+02,1.466000e+03,1.489000e+03,183.000000,3.118000e+03,1.003000e+03,252.000000,0.0,102.000000,4.870000e+02,3.710000e+02,3.110000e+02,295.000000,103.000000,37.000000,37.000000,1585.000000,1.484000e+03,252.000000,4.150000e+02,388.000000,954.000000,775.000000,8.260000e+02,796.000000,9.580000e+02,1.710000e+02,1.377000e+03,1.376000e+03,396.000000,12.000000,171.000000,964.000000,19.000000,415.000000,1211.000000,443.000000,32.000000,1.130000e+02,325.000000,326.000000,163.000000,148.000000,532.000000,100.000000,109.000000,3.480000e+02,268.000000,236.000000,278.000000,2588.000000,522.000000,1502.000000,11.000000,3.0,3.0,49.000000,192.000000,1.308000e+03,1228.000000,496.000000,411.000000,397.000000,343.000000,348.000000,9.500000e+02,992.000000,178.000000,1690.000000,1000.000000,1923.000000,2341.000000,3380.000000,3433.000000,3278.000000,3508.000000,2782.000000,3112.000000,3221.000000,3169.000000,546.000000,2965.000000,1691.000000,3692.000000,1401.000000,3504.000000,0.0,0.0,2834.000000,3109.000000,3166.000000,0.0,1798.000000,2524.000000,2890.000000,3563.000000,2.300000e+02,231.000000,3046.000000,459.000000,3045.000000,3678.000000,3255.000000,0.0,0.0,2053.000000,3084.000000,3.082000e+03,3590.000000,3.732000e+03,3.482000e+03,3.716000e+03,3732.000000,3.732000e+03,3723.000000,3732.000000,3637.000000,3716.000000,3693.000000,3697.000000,3.732000e+03,3731.000000,3.732000e+03
mean,2016.007748,1.713986e+05,1.155002e+05,1.813803e+06,2.968444e+03,3.414399e+05,NaN,67.712139,8.339138e+04,1.735231e+06,38.994242,2025.810753,1.424825e+06,5.276180e+06,7.212975e+06,657.309009,2.088322e+05,1.228738e+07,1690.866060,NaN,6738.761945,3.651309e+05,1.524625e+06,5.551504e+06,0.306194,4075.942313,0.114277,53.438641,145.467087,1.088441e+04,0.784718,4.315993e+06,244451.123449,467.050034,0.457580,2.468543e+05,47.542511,7.032317e+05,5.991044e+05,1.216558e+04,1.271656e+07,51.760101,2719.716520,8.763216,22.330774,2.684211,81.304940,103.300470,64.151242,4.093750,5.688342e+04,3595.228336,79.720184,2.127417,86.242480,8.772336,6.654440,0.421490,2.020452e-03,4.632187,4.101691,3325.745766,16.653915,44.792590,6921.852863,0.655064,1.0,1.0,4.688707,2524.945469,1.381267e+03,2065.026239,8.809629,8.570939,50.020615,0.001098,132.816535,1.753955e+05,16.698335,11.670577,45.505560,34.627118,65.685387,4.864588,91.840479,96.910587,8.884381,7.709772,21.055083,89.239296,0.905979,1.038567,3.177656,945.910624,3.088705,8.810672,3.306924,56.939585,NaN,NaN,89.418880,87.328632,92.472221,NaN,91.909443,24.810983,5.075901,61.880429,6.487010e+03,16786.970676,91.251996,19.613444,91.249123,75.280061,8.694624,NaN,NaN,47.971417,127.521135,1.078989e+05,98.682869,1.903528e+08,4.595361e+07,4.098162e+08,15.898363,1.520179e+08,26.198947,39.196163,2.074922,5.017414,8.493276,3970.565367,5.862752e+08,38.106497,3.445382e+08
std,3.066725,1.546571e+06,2.418162e+05,2.875721e+07,5.722791e+04,2.361950e+06,NaN,36.414945,3.357415e+05,1.546371e+07,30.399287,6.323422,1.079654e+07,4.216729e+07,5.460647e+07,2235.540655,1.693074e+06,1.203657e+08,8453.266429,NaN,42446.128704,2.528296e+06,1.089763e+07,5.000265e+07,0.295860,39536.545395,0.309366,252.266337,402.150870,1.771238e+05,2.029850,4.337144e+07,310114.313921,5743.696065,0.269108,1.641832e+06,28.205931,1.049621e+07,1.916429e+06,1.108266e+05,1.154194e+08,97.951528,9378.365070,2.613566,17.962742,1.002920,10.170623,610.360851,129.964796,4.357858,1.638712e+05,10867.219354,9.793283,1.789170,16.579706,11.342202,5.953515,0.930225,1.125900e-02,8.453076,5.290365,10265.968346,198.356013,16.145251,16651.244553,0.532291,0.0,0.0,11.177840,5407.433691,4.138304e+04,5456.242346,11.479542,12.083509,39.845481,0.001340,756.706696,1.011163e+06,10.421649,7.475887,12.855951,15.364271,46.097963,2.107787,15.868816,9.247356,6.054054,4.052721,11.138832,11.152468,0.708586,2.438533,1.453731,223.063526,0.583143,2.948885,2.043460,21.149210,NaN,NaN,11.476631,19.379293,14.288927,NaN,20.834896,15.174346,70.488623,21.739013,9.806513e+04,81141.409801,15.223249,18.569337,15.224923,17.070232,5.823581,NaN,NaN,20.336161,1896.669806,4.953345e+06,10.198241,2.248104e+09,8.085112e+08,8.569598e+09,1298.055171,2.867327e+09,26.849144,113.918857,13.738936,5.488764,15.348895,18698.374981,9.978071e+09,16.471483,6.706081e+09
min,2008.000000,5.000000e-01,1.789000e+00,1.000000e-01,4.332156e-05,1.100002e+00,NaN,0.893000,9.400000e-02,4.194000e+01,1.500000,2017.000000,9.400000e-02,4.442000e+00,1.158880e+02,0.051260,0.000000e+00,1.390000e+02,0.005000,NaN,0.001000,9.000000e-02,9.400000e-02,1.917000e+00,0.000003,0.000040,0.000590,0.133156,0.016303,-7.418061e+03,0.000001,9.700000e-02,0.060000,-182.256623,0.000032,1.260000e-01,0.018000,9.000000e-02,2.820000e+02,1.825725e-01,7.000000e+01,1.000000,0.114186,3.300000,0.020000,2.000000,35.000000,0.000300,1.000000,1.000000,2.550000e+01,0.004000,37.000000,0.127000,46.000000,0.001000,0.304000,0.010000,3.341772e-08,0.001000,0.001000,0.004000,-99.837860,3.500000,5.000000,0.070000,1.0,1.0,0.015000,0.052031,2.749045e-03,0.004525,0.001000,0.001000,0.210000,0.000002,0.016953,7.200000e+01,0.061000,0.600000,2.810000,1.500000,5.000000,0.000000,16.666667,25.000000,2.000000,0.194444,0.000000,12.000000,0.000000,0.000434,0.000000,3.000000,2.000000,2.000000,0.000000,7.142857,NaN,NaN,0.630000,14.285714,25.000000,NaN,1.909000,0.000000,0.005333,5.882353,-1.966000e+03,-116797.674429,27.272727,0.000000,27.272727,5.263158,2.000000,NaN,NaN,0.000000,0.000913,9.791311e-02,9.000000,-3.667007e+06,-7.003500e+07,8.158000e+03,-79062.500000,8.000000e+00,-558.360000,-4362.500000,-333.490000,-71.290000,-232.260000,1.460000,3.847000e+04,0.000000,3.467000e+03
25%,2014.000000,1.214212e+03,6.928000e+03,7.398300e+02,1.201027e+00,1.115500e+04,NaN,30.971500,8.390000e+02,7.983220e+04,15.000000,2020.000000,8.961560e+02,2.111854e+05,2.235643e+05,3.750000,1.010775e+04,3.356395e+05,6.782500,NaN,0.644500,2.777920e+03,8.533000e+02,9.192067e+03,0.029026,0.007500,0.004496,1.494148,22.779514,3.145550e+02,0.004596,3.809761e+03,7948.283090,5.042677,0.251926,8.859058e+02,26.226750,3.343500e+03,1.539864e+04,3.882029e+02,2.726852e+05,5.000000,4.172386,7.000000,11.000000,2.000000,76.000000,0.373424,5.000000,2.000000,1.091000e+03,34.000000,75.000000,1.168000,74.075000,2.442250,3.450000,0.070000,1.243529e-04,0.965250,0.877500,35.286250,-2.919934,35.052500,232.000000,0.220028,1.0,1.0,0.047750,51.652293,8.407829e+00,243.870782,2.484250,2.222500,7.300000,0.000246,0.242686,3.572760e+03,9.490000,6.000000,38.000000,25.000000,14.000000,3.000000,87.500000,100.000000,4.000000,4.686458,12.500000,75.000000,0.400000,0.311360,3.000000,999.000000,3.000000,7.000000,2.000000,42.857143,NaN,NaN,75.000000,75.000000,85.714286,NaN,100.000000,14.285714,0.917861,42.857143,2.097500e-02,58.629674,83.333333,0.000000,83.333333,66.666667,5.000000,NaN,NaN,33.333333,3.972836,3.767220e+03,100.000000,1.167199e+06,1.769148e+05,1.678570e+06,8.437500,2.815035e+05,12.570000,9.680000,0.880000,2.690000,3.970000,168.740000,2.706875e+06,27.515000,1.222310e+06
50%,2017.000000,4.756000e+03,3.290143e+04,9.643000e+03,1.022560e+01,4.812100e+04,NaN,91.500000,4.732000e+03,3.226843e+05,30.000000,2025.000000,4.983480e+03,6.023631e+05,6.393024e+05,10.600000,3.302900e+04,1.046599e+06,43.500000,NaN,6.634000,2.025622e+04,4.676951e+03,6.517080e+04,0.231736,0.051000,0.022000,4.713276,54.559592,8.368204e+02,0.043917,2.562483e+04,66940.891473,17.481578,0.432900,3.741100e+03,44.000000,1.422753e+04,8.500000e+04,1.110113e+03,9.586890e+05,15.000000,11.491506,8.790000,18.696500,2.000000,82.000000,2.600000,17.000000,2.000000,8.918000e+03,390.000000,81.000000,1.966000,90.500000,5.357000,4.675000,0.120000,6.242646e-04,2.100000,2.225000,394.500000,3.571429,46.513000,796.500000,0.600000,1.0,1.0,0.347045,301.214500,2.213639e+01,788.570355,5.256500,4.500000,44.000000,0.000725,0.899850,1.368300e+04,14.857500,10.989500,46.000000,34.021500,75.000000,5.000000,100.000000,100.000000,7.000000,7.000000,18.181818,94.600000,0.714286,0.666723,3.000000,999.000000,3.000000,9.000000,3.000000,57.142857,NaN,NaN,95.000000,100.000000,100.000000,NaN,100.000000,20.000000,2.230868,63.636364,1.845000e+00,1180.771083,100.000000,20.000000,100.000000,77.777778,7.000000,NaN,NaN,50.000000,10.231378,1.051660e+04,100.000000,3.395920e+06,5.740765e+05,5.360612e+06,23.790000,9.424150e+05,25.710000,27.405000,1.190000,4.590000,8.210000,424.870000,7.844552e+06,38.070000,4.031124e+06
75%,2019.000000,1.679000e+04,1.262767e+05,5.821500e+04,7.703830e+01,1.538243e+05,NaN,100.000000,3.186500e+04,9.021315e+05,50.000000,2030.000000,3.393000e+04,1.501208e+06,1.483309e+06,54.617988,1.062630e+05,2.894372e+06,390.200000,NaN,487.446000,6.580658e+04,2.811350e+04,3.266973e+05,0.484973,44.000000,0.080000,15.785320,128.820716,1.680347e+03,0.292190,1.328058e+05,447174.730657,46.762257,0.645900,1.788650e+04,70.000000,5.524225e+04,3.565000e+05,2.571553e+03,2.823807e+06,45.000000,18.364269,10.500000,28.525000,3.000000,88.000000,18.203950,47.000000,4.000000,2.387310e+04,1757.000000,86.000000,2.450000,100.000000,10.991750,7.700000,0.270000,1.641717e-03,5.925000,5.542500,1763.250000,11.111111,56.000000,4950.250000,0.890626,1.0,1.0,2.527247,1614.144739,6.989094e+01,2016.832567,10.991750,10.355000,100.000000,0.001560,6.635670,6.507000e+04,21.407500,15.137500,53.629000,45.338750,120.000000,7.000000,100.000000,100.000000,13.000000,10.168750,28.571429,98.962500,1.230769,1.340925,4.000000,999.000000,3.000000,10.000000,4.000000,71.428571,NaN,NaN,100.000000,100.000000,100.000000,NaN,100.000000,33.333333,4.754861,80.000000,1.066125e+01,6087.347954,100.000000,33.333333,100.000000,87.500000,11.000000,NaN,NaN,62.500000,22.934551,2.154203e+04,100.000000,1.870466e+07,3.626185e+06,2.121107e+07,54.550000,5.612980e+06,41.120000,57.600000,1.870000,7.102500,13.990000,1418.690000,4.797208e+07,47.900000,2.304552e+07
max,2021.000000,1.866800e+07,2.964619e+06,6.542000e+08,1.329911e+06,4.887082e+07,NaN,100.000000,4.985055e+06,3.358747e+08,100.000000,2050.000000,1.208213e+08,8.492145e+08,8.729973e+08,13626.000000,4.887082e+07,1.906268e+09,103681.280000,NaN,410338.499000,3.178783e+07,1.037156e+08,5.258104e+08,0.995992,401395.230000,1.709524,1540.181332,8112.106603,4.153510e+06,11.560580,5.258126e+08,1000000.000000,151112.386544,0.999972,2.927648e+07,100.000000,3.180050e+08,1.510100e+07,1.675869e+06,1.906268e+09,580.000000,32500.000000,15.000000,184.000000,5.000000,100.000000,11360.000000,1044.000000,20.000000,1.456338e+06,75134.000000,97.000000,12.250000,121.000000,112.500000,38.000000,4.970000,1.995000e-01,114.035000,37.030000,69150.000000,6958.823529,86.000000,133123.000000,1.660000,1.0,1.0,50.000000,30759.000000,1.482304e+06,100435.323383,112.500000,112.500000,100.000000,0.016057,7600.000000,2.297001e+07,84.520000,37.644000,84.000000,77.143000,120.000000,11.000000,100.000000,100.000000,27.000000,27.678571,100.000000,100.000000,4.500000,114.511150,10.000000,999.000000,6.000000,24.000000,14.000000,100.000000,NaN,NaN,100.000000,100.000000,100.000000,NaN,100.000000,100.000000,3765.004318,100.000000,1.487246e+06,659068.535136,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN,100.000000,50900.000000,2.750000e+08,100.000000,7.857249e+10,3.402579e+10,3.700476e+11,662.730000,1.300360e+11,140.270000,588.760000,441.570000,52.160000,160.650000,502680.900000,4.209579e+11,138.150000,2.851052e+11

## Drop low count columns

In [67]:
# look into var types and counts
#all_ts_data.info(verbose=True, show_counts=True)

In [68]:
# drop if there are less than 200 non-missing values
all_ts_data = all_ts_data.dropna(thresh=200, axis=1)

## Save the file

In [69]:
#all_ts_data.to_csv("F:\\Research\\CommercialPrivate\\International\\KF Reports\\Active Capital\\AC21\\Corporate ESG\\Clean data\\all_ts_data.csv", index=False)